.ai-app-chat-container {
  height: 100vh !important;
  background-color: var(--ai-color-bg-primary) !important;
  transition: width 0.3s ease !important;
}

.ai-app-input-section-container {
  background-color: var(--ai-color-bg-tertiary) !important;
  border-radius: var(--radius-lg) !important;
}

.ai-app-chat-messages {
  margin-top: 16px !important;
}

.ai-app-input-section-wrapper {
  padding-top: 15px !important;
}
